{% extends 'main/base.html' %} {% block title %}Thread {{post.id}}{% endblock %}

{% block content %}

<br />  

<a href="../home" class="btn btn-secondary">
    Volta ao Forum
</a>

<br />  

<h1> {{post.title}} </h1>

<small> Por: {{post.author.username}} </small> 
<br />
{{ post.description }} 

<br />
<br />

<h2> Respostas </h2>

{% if not post.comments.all %} 
    Sem comentários ainda.. 
    <br />
    <a href="{% url 'create_comment' post.pk %}"> Adicionar Comentário </a>  

{% else %}

    <a href="{% url 'create_comment' post.pk %}"> Adicionar Comentário </a>  
    <br />

    {% for comment in post.comments.all %}

    <strong> {{ comment.author }} - {{ comment.created_at }} </strong>
    <br/>
    {{comment.description}}
    <br/>
    <form action="{% url 'like_post' post.pk %}"
    method="POST">
        {% csrf_token %}
        <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
    </form>
    <hr>
    {% endfor %}

{% endif %}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br/><br/>
<hr>
<br/>
<form action="{% url 'like_post' post.pk %}"
method="POST">
    {% csrf_token %}
    <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button> - {{ total_likes }} Likes
</form>

{% endblock %}
